@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: 23, 23, 23;
  --gray: #b1b1b1;
  --dark-gray: #585858;
  --darker-gray: 38, 38, 38;
  --darker-main: 45, 113, 224;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(var(--black));
  cursor: default;
}
main{
  width: 100%;
  height: fit-content;
}

::-webkit-scrollbar{
  background: none;
  width: 0.6rem;
}
::-webkit-scrollbar-thumb{
  background-color: white;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}

